//html3_3
$html3_03_bgColor: red;

//html3-4
$html3_04_bgColor: #FFFFF0;
$html3_04_btnBg: #FFFFFF;
$html3_04_btnBorder: #999999;
$html3_04_btnRegistBg: #00a1b8;

//html3-5
$html3_05_planColor: #00796B;
$html3_05_specHeadBg: #00897B;
$html3_05_specLineOddBg: #F0F0F0;

//html3-6
$html3_06_bgColor: #b1a233;

//html3-7
$html3_07_bgColor: #FEFEFE;
$html3_07_mainColor: #ff3d3c;
$html3_07_ttl: 'Sawarabi Mincho', sans-serif;